{% extends "master.html" %}
{% block content %}
<form action = "{{ url_for('upload_log') }}" enctype = "multipart/form-data" method = "POST">
    <dl>
        <dt>Title of the log:</dt>
        <dd><input type = "text" name = "title"></dd>
        <dt>Date of the log: </dt>
        <dd>Day: <input type = "text" name = "date_day" size = "2"> Month: <input type = "text" name = "date_month" size = "2"></dd>
        <dt>File: </dt>
        <dd><input type = "file" accept = "text/plain" name = "filepath"><dd>
        <dd><input type = "submit" value = "Submit"></dd>
    </dl>
</form>
{% endblock %}
